#company-name {
    font-family: fantasy;
}

img {
    /*max-height: 200px;*/
    height: 400px;
    /*max-width: 250px;*/
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
